aiohttp
async-timeout
attrs
cffi
chardet
click
discord.py
ffmpeg
idna
itsdangerous
Jinja2
MarkupSafe
multidict
pip
pycparser
PyNaCl
Python-dev
setuptools
six
typing-extensions
Werkzeug
yarl
youtube-dl
